<!-- list.html -->
{% extends 'base.html' %}
{% block title %}
二手機列表
{% endblock %}
{% block content %}
<h1>二手機列表</h1>
<table>
    <thead>
        <tr>
            <th>型號</th>
            <th>價格</th>
            <th>庫存</th>
        </tr>
    </thead>
    <tbody>
        {% for phone in products %}
        <tr>
            <td><a href="/detail/{{ phone.sku }}">{{ phone.name }}</a></td>
            <td>{{ phone.price }}</td>
            <td>{{ phone.qty }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/">回首頁</a>
{% endblock %}